{% extends 'base.html.twig' %}

{% block title %} Trening Diary {% endblock %}

{% block body %}
    <br>
    <h1> Your personal Trening Diary </h1>

    <h4> Hello, {{ app.user.username }}</h4>

    <br> 

{% endblock %}