{% extends 'base.html.twig' %}

{% block title %} New Trening {% endblock %}

{% block body %}
    <br>
    <h1>New Trening</h1>
    <p>W tym miejscu możesz ustawić ćwiczenia</p>

    
    <br>
    <a class="btn btn-danger" href="/login/{$slug}">Cancel</a>
{% endblock %}