{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <br><br>
    <h3>Your progres</h3>
    

    <br><br><br>

    <a class="btn btn-danger" href="{{ path('app_settings') }}">Back</a>

{% endblock %}