{% extends 'base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}

    <br><br>
    <h3>Menu</h3>

    <br><br><br>

    <div class="options">
        <div class="homepage_options">
            <h4>Homepage options:</h4>
            
            <table class="table table-hover">
                <tr class="table-primary">
                <td>
                    <form method="POST" action="/login/{}/option/">
                        <input type="submit" class="btn btn-link nav-link value" value="How meny days earlier show exercises" />
                    </form>
                </td>
                </tr>
            </table>
    </div>

    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Back</a>

{% endblock %}