{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <br><br>
    <h3>Settings</h3>

    <br>

    <br><br><br>

    <div class="settings">
            <table class="table table-hover">

            {% for seting in allSettings %}
                <tr>
                    <td>
                        <a class="nav-link" href="/login/{}/settings/{{ seting.id }}/subsettings/">{{ seting.name }}</a> 
                    </td>
                </tr>

            {% endfor %}

            </table>
    </div>

    <br><br>
    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Back</a>

{% endblock %}