{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <br><br>
    <h3>Error</h3>

    <h5>Sorry, an unexpected error has occurred</h5>
    <br><br><br>

    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Back</a>
{% endblock %}