{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <br><br>
    <h3>404</h3>

    <h5>Sorry, we don't have this :( Maybe you should search on another webiste.</h5>
    <br><br><br>

    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Back</a>
{% endblock %}